<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        ul{
            margin-right: 70px;
        }
        li{
            display: inline;
            margin: 5px;
        }
        col{
            margin: 0px;
            padding: 0px;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="p-2 bg-dark">
        <div class="row">
            <div class="col text-white text-right">
                <h4>News</h4>
            </div>
            <div class="col text-white text-right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/form">Form</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>